<!DOCTYPE html>
<html lang="en">

    <% include ../views/partials/head %>

    <body>

        <% include ../views/partials/nav %>

        <div class = "container">
            <div class = "row">
            <div class = "col-md-4"><div class = "stat">
                <h3>Impulses This Month</h3>
                <div class = "inner-stat">
                    <h1><%=impulseMonthCounter[11]%></h1>
                </div>
            </div></div>
            <div class = "col-md-4"><div class = "stat">
                <h3>Total Dollars Saved</h3>
                <div class = "inner-stat">
                    <h1>$<%=impulseDollars%></h1>
                </div>
            </div></div>
            <div class = "col-md-4"><div class = "stat">
                <h3>Total Purchases</h3>
                <div class = "inner-stat">
                    <h1><%=user.purchaseData.length-impulseSum%></h1>
                </div>
            </div></div>
            </div>
            <div class = "row">
                <div class = "col-md-6"><div class = "graph">
                    <canvas id="line-chart" width="800" height="500"></canvas>
                </div></div>
                <div class = "col-md-6"><div class = "graph">
                    Graph 2
                </div></div>
            </div>

            <div class = "analytics-card">
                <h3>Individual Item Analytics</h3>
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Bought</th>
                            <th scope="col">Name</th>
                            <th scope="col">Justification</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (i = 0; i < user.purchaseData.length; i++){ %>
                            <tr>
                                <th scope="row">
                                    <% var d = new Date(user.purchaseData[i].purchaseDate * 1000); %>
                                    <%= d.toDateString().substring(4, 10) %>
                                </th>

                                <td><% if (user.purchaseData[i].wasPurchased){ %>
                                            Yes
                                        <%} else { %>
                                            No
                                        <%}%>
                                </td> 
                                <td><%= user.purchaseData[i].itemTitle %></td>
                                <td><%= user.purchaseData[i].decisionReason %></td>
                                <td>$<%= user.purchaseData[i].itemPrice %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
          
            

        </div>

        <% include ../views/partials/footer %>

    </body>

    <script>

        let pmCounter = [<%= purchaseMonthCounter %>];
        let imCounter = [<%= impulseMonthCounter %>];
        let mlabel = [<%= monthBoundaries%>];

        var chart1 = new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: mlabel,
                datasets: [{ 
                    data: pmCounter,
                    label: "Items Purchased",
                    borderColor: "#3e95cd",
                    fill: false
                }, { 
                    data: imCounter,
                    label: "Impulses Avoided",
                    borderColor: "#8e5ea2",
                    fill: false
                }
                ]
            },
            options: {
                title: {
                display: true,
                text: 'Impulses Avoided'
                }
            }
        });
        console.log(chart1.data.datasets[0].data);

    </script>
</html>
